# Basic pandas structure and data selection

## 1. About the notebook

This is a `jupyter` notebook, here you can combine text with formatting, python code and its output like tables or figures in one document.

Notebooks consist of _cells_ which can be either `code` or `text` (with markdown formatting)

This is `text` _cell_, above are more `text` _cells_, below is a `code` _cell_

In [1]:
import pandas as pd

You can recognize it by monospace font and the square brackets in front: `[1]`

To run a `code` _cell_, press the ▶ button at the top, or hit Shift+Enter, or Ctrl+Enter, or Alt+Enter

If a `code` _cell_ has an output, it will be displayed below the _cell_, like here:

In [2]:
print("This is output")

This is output

This _cell_ will have output too:

In [3]:
1 + 9

10

Two very handy parts of `jupyter` notebooks are:
* code completion
* quick documentation

For code completion, start writing code and hit Tab, like here:

In [ ]:
pd.

For quick documentation, place your cursor in the code section on a function, and hit Shift-Tab, like here:

In [ ]:
pd.read_csv

You can add new _cells_ quickly by pressing `A` for Above or `B` for Below current _cell_

You can switch between typing inside the _cell_ vs moving around _cells_ and invoking commands by pressing `Esc`/`Enter`

## 2. Getting data

We'll be using free data via gapminder.org [repository](https://github.com/open-numbers/ddf--gapminder--systema_globalis), CC-BY LICENSE for this exercise. 

Let's load the data its storage on github: two tables, with information about world's countries:

In [4]:
countries = pd.read_csv(
    "https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis"
    "/master/ddf--entities--geo--country.csv"
)

`jupyter` notebooks allow us to look at the `pandas` table in a nice way, just by having the output of a _cell_ be a `pandas` table:

In [5]:
countries

,country,g77_and_oecd_countries,income_3groups,income_groups,is--country,iso3166_1_alpha2,iso3166_1_alpha3,iso3166_1_numeric,iso3166_2,landlocked,...,name,un_sdg_ldc,un_sdg_region,un_state,unhcr_region,unicef_region,unicode_region_subtag,west_and_rest,world_4region,world_6region
0,abkh,others,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,...,Abkhazia,NaN,NaN,False,NaN,NaN,NaN,NaN,europe,europe_central_asia
1,abw,others,high_income,high_income,True,AW,ABW,533.0,NaN,coastline,...,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False,unhcr_americas,NaN,AW,NaN,americas,america
2,afg,g77,low_income,low_income,True,AF,AFG,4.0,NaN,landlocked,...,Afghanistan,un_least_developed,un_central_and_southern_asia,True,unhcr_asia_pacific,sa,AF,rest,asia,south_asia
3,ago,g77,middle_income,lower_middle_income,True,AO,AGO,24.0,NaN,coastline,...,Angola,un_least_developed,un_sub_saharan_africa,True,unhcr_southern_africa,ssa,AO,rest,africa,sub_saharan_africa
4,aia,others,NaN,NaN,True,AI,AIA,660.0,NaN,coastline,...,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False,unhcr_americas,NaN,AI,NaN,americas,america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,yem_south,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,South Yemen (former),NaN,NaN,False,NaN,NaN,NaN,NaN,asia,middle_east_north_africa
269,yug,others,NaN,NaN,True,NaN,NaN,NaN,NaN,coastline,...,Yugoslavia,NaN,NaN,False,NaN,NaN,NaN,NaN,europe,europe_central_asia
270,zaf,g77,middle_income,upper_middle_income,True,ZA,ZAF,710.0,NaN,coastline,...,South Africa,un_not_least_developed,un_sub_saharan_africa,True,unhcr_southern_africa,ssa,ZA,rest,africa,sub_saharan_africa
271,zmb,g77,middle_income,lower_middle_income,True,ZM,ZMB,894.0,NaN,landlocked,...,Zambia,un_least_developed,un_sub_saharan_africa,True,unhcr_southern_africa,ssa,ZM,rest,africa,sub_saharan_africa
272,zwe,g77,middle_income,lower_middle_income,True,ZW,ZWE,716.0,NaN,landlocked,...,Zimbabwe,un_not_least_developed,un_sub_saharan_africa,True,unhcr_southern_africa,ssa,ZW,rest,africa,sub_saharan_africa

Or `pandas` series:

In [6]:
countries.country

0           abkh
1            abw
2            afg
3            ago
4            aia
         ...
268    yem_south
269          yug
270          zaf
271          zmb
272          zwe
Name: country, Length: 273, dtype: object

Compare this nice table with a regular view for the same list of countries, for example:

In [7]:
countries.country[:20].to_dict()

{0: 'abkh',
 1: 'abw',
 2: 'afg',
 3: 'ago',
 4: 'aia',
 5: 'akr_a_dhe',
 6: 'ala',
 7: 'alb',
 8: 'and',
 9: 'ant',
 10: 'are',
 11: 'arg',
 12: 'arm',
 13: 'asm',
 14: 'ata',
 15: 'atg',
 16: 'aus',
 17: 'aut',
 18: 'aze',
 19: 'bdi'}

## 3. Pandas data structure

What we got above with `pd.read_csv` call is a `pandas` table. Other `read_*` functions will also return a table. We can construct a table from data by calling `pd.DataFrame` function.

`pandas` tables are column-oriented: columns usually mean variables and rows—observations.

Some operations throughout `pandas` can be done either by rows or by columns. Such operations will ask for parameter `axis`, and for it `0`=`rows` and `1`=`columns`

Mnemonic is that `1` is vertical, so it is `columns`

Rows and columns have names (or numbers) to address them specifically. For rows this is called `index`, for columns it is just referred to as “columns”

Let's examine our `countries` table

It's dimensions:

In [8]:
countries.shape

(273, 23)

Number of rows (remember, `0`=`rows`)

In [9]:
countries.shape[0]

273

Number of columns

In [10]:
countries.shape[1]

23

The `index`:

In [11]:
countries.index

RangeIndex(start=0, stop=273, step=1)

The `columns`:

In [12]:
countries.columns

Index(['country', 'g77_and_oecd_countries', 'income_3groups', 'income_groups',
       'is--country', 'iso3166_1_alpha2', 'iso3166_1_alpha3',
       'iso3166_1_numeric', 'iso3166_2', 'landlocked', 'latitude', 'longitude',
       'main_religion_2008', 'name', 'un_sdg_ldc', 'un_sdg_region', 'un_state',
       'unhcr_region', 'unicef_region', 'unicode_region_subtag',
       'west_and_rest', 'world_4region', 'world_6region'],
      dtype='object')

## 3. Pandas Series: one table column

Let's take one column from the table:

In [13]:
column = countries["country"]
column

0           abkh
1            abw
2            afg
3            ago
4            aia
         ...
268    yem_south
269          yug
270          zaf
271          zmb
272          zwe
Name: country, Length: 273, dtype: object

It has the same `index` as the whole table

In [14]:
column.index

RangeIndex(start=0, stop=273, step=1)

So `pandas` table is a collection of `Series` with the same `index`

## 4. Selecting elements

### From `Series`

In [15]:
column

0           abkh
1            abw
2            afg
3            ago
4            aia
         ...
268    yem_south
269          yug
270          zaf
271          zmb
272          zwe
Name: country, Length: 273, dtype: object

In [16]:
column = column.sort_values(ascending=False)
column

272          zwe
271          zmb
270          zaf
269          yug
268    yem_south
         ...
4            aia
3            ago
2            afg
1            abw
0           abkh
Name: country, Length: 273, dtype: object

#### Selecting by `index` label:

In [17]:
column[0]

'abkh'

Same as above:

In [18]:
column.loc[0]

'abkh'

No such label in `index`:

In [19]:
column["0"]

KeyError: '0'

#### Selecting by position:

In [ ]:
column.iloc[0]

In [ ]:
column.iloc[-1]

#### Selecting by position with slices:

In [20]:
column[1:5]

271          zmb
270          zaf
269          yug
268    yem_south
Name: country, dtype: object

What type is this object?

#### By filtering criteria (boolean index)

In [21]:
column.str.len()

272    3
271    3
270    3
269    3
268    9
      ..
4      3
3      3
2      3
1      3
0      4
Name: country, Length: 273, dtype: int64

In [22]:
column.str.len() > 5

272    False
271    False
270    False
269    False
268     True
       ...
4      False
3      False
2      False
1      False
0      False
Name: country, Length: 273, dtype: bool

In [23]:
column[column.str.len() > 5]

268            yem_south
267            yem_north
255    usa_minor_out_isl
244               transn
220               sosset
219          som_somland
210       sgero_a_ssandw
207           scg_ex_kos
198        pse_west_bank
197             pse_gaza
178          nld_curacao
174               ngokar
131          korea_union
104          heard_a_mcd
82        fra_clipperton
81            fra_antarc
72             eri_a_eth
63              deu_west
62              deu_east
59               cyp_nor
43                cheslo
41               chanisl
32                bouisl
5              akr_a_dhe
Name: country, dtype: object

What are the types of the objects above?

### From `DataFrame`

Almost the same as for `Series`, but operating on the 2 axes, instead of 1

#### By labels

In [24]:
countries.loc[0, "name"]

'Abkhazia'

In [25]:
countries.loc[1:5, "name":"un_state"]

,name,un_sdg_ldc,un_sdg_region,un_state
1,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False
2,Afghanistan,un_least_developed,un_central_and_southern_asia,True
3,Angola,un_least_developed,un_sub_saharan_africa,True
4,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False
5,Akrotiri and Dhekelia,NaN,NaN,False

To specify _all rows_ or _all columns_ use a single `:`

In [26]:
countries.loc[:, "name"]

0                  Abkhazia
1                     Aruba
2               Afghanistan
3                    Angola
4                  Anguilla
               ...
268    South Yemen (former)
269              Yugoslavia
270            South Africa
271                  Zambia
272                Zimbabwe
Name: name, Length: 273, dtype: object

#### Special selecting for columns

In [27]:
countries["name"]

0                  Abkhazia
1                     Aruba
2               Afghanistan
3                    Angola
4                  Anguilla
               ...
268    South Yemen (former)
269              Yugoslavia
270            South Africa
271                  Zambia
272                Zimbabwe
Name: name, Length: 273, dtype: object

Or even:

In [28]:
countries.name

0                  Abkhazia
1                     Aruba
2               Afghanistan
3                    Angola
4                  Anguilla
               ...
268    South Yemen (former)
269              Yugoslavia
270            South Africa
271                  Zambia
272                Zimbabwe
Name: name, Length: 273, dtype: object

#### By position

In [29]:
countries.iloc[0, 13]

'Abkhazia'

In [30]:
countries.iloc[1:5, 13:17]

,name,un_sdg_ldc,un_sdg_region,un_state
1,Aruba,un_not_least_developed,un_latin_america_and_the_caribbean,False
2,Afghanistan,un_least_developed,un_central_and_southern_asia,True
3,Angola,un_least_developed,un_sub_saharan_africa,True
4,Anguilla,un_not_least_developed,un_latin_america_and_the_caribbean,False

#### By filtering criteria (boolean index)

In [31]:
countries.loc[countries.name.str.startswith("Ch"), "name"]

41      Channel Islands
44                Chile
45                China
56     Christmas Island
236                Chad
Name: name, dtype: object

In [32]:
countries.loc[:, countries.columns.str.contains("un_")]

                 un_sdg_ldc                       un_sdg_region  un_state
0                       NaN                                 NaN     False
1    un_not_least_developed  un_latin_america_and_the_caribbean     False
2        un_least_developed        un_central_and_southern_asia      True
3        un_least_developed               un_sub_saharan_africa      True
4    un_not_least_developed  un_latin_america_and_the_caribbean     False
..                      ...                                 ...       ...
268                     NaN                                 NaN     False
269                     NaN                                 NaN     False
270  un_not_least_developed               un_sub_saharan_africa      True
271      un_least_developed               un_sub_saharan_africa      True
272  un_not_least_developed               un_sub_saharan_africa      True

[273 rows x 3 columns]

## 5. Classwork

### 1. How many countries are there in Africa?

### 2. How many non-UN states are there in Europe?

### 3. What are the last 5 Asian countries in this table?

### 4. What is the middle country in the high_income group?